<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload and Download</title>
    <style>
        #dbtn:hover{
            background-color:green;
            color:white;
            border :15px
        }
        #debtn:hover{
            background-color:red;
            color:white;
            border :15px
        }
        #vbtn:hover{
            background-color:blue;
            color:white;
            border :15px
        }
    </style>

</head>
<body>
    <h1>File Upload and Download</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Choose a file:</label>
        <input type="file" name="file" id="file" required>
        <br>
        <input class="submit" type="submit" value="Upload">
    </form>
    <h2>Uploaded Files</h2>
    <ul>
        {% for file in files %}
            <li>{{ file }}
                            <a href="{{ url_for('download_file', filename=file) }}" style="margin-left:20px;">
                                <button id ="dbtn">Download</button>
                            </a>
                            <a href="{{ url_for('delete_file', filename=file) }}" style="margin-left:20px;">
                                <button id="debtn">delete</button>
                            </a>
                            <a href="{{ url_for('view_file', filename=file) }}" style="margin-left:20px;">
                                <button id="vbtn">view</button>
                            </a>
            </li>
        {% endfor %}
    </ul>
         <!-- <button onclick="stopServer()">Stop Server</button> -->

    

</body>
</html>
